---
layout: default
---
<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  <br/>
  <h2 style="color: #a0a0a0">{{ category }}</h2>
  <br/>
  {% for post in site.categories[category] %}
    <li>
      <hr/>
      <small style="color: #727272;">{{ post.date | date: "%Y-%m-%d"  }}</small>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <div>
            <h3 style="display: inline;">
            {{ post.title }}
            </h3>
            <br/>
            <ul class="post-categories">
              {%- for tag in post.categories -%}
              <li>{{ tag }}</li>
              {%- endfor -%}
            </ul>
          </div>
          <div>
          <h5 style="color: #727272;">
            {{ post.excerpt }}
          </h5>
        </div>
        </a>
    </li>
  {% endfor %}
  
</ul>