---
layout: default
---
<ul class="posts-list">
    {% assign category = page.category | default: page.title %}
    <br/>
    <h2 style="color: #a0a0a0">
        <span>{{ page.categories[0] }}</span>
        <span style="font-size: 1.1rem;">> {{ page.categories[1] }}</span>
    </h2>
    <hr/>
    {% for post in site.categories[category] %}
        {% if post.categories contains '개발환경' %}
        <li>
            <div class="post-categories-meta">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <h3 class="post-categories-title" style="display: inline;">
                        {{ post.title }}
                    </h3>
                </a>
                <div class="post-date">
                    <i class="icon-calendar"></i>
                    <span style="color: #727272;">{{ post.date | date: "%Y-%m-%d" }}</span>
                </div>
                {%- if post.categories.size > 0-%}
                <ul class="post-categories">
                    {%- for tag in post.categories -%}
                    <li>{{ tag }}</li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}
            </div>
            
        </li>
        {% endif %}
    {% endfor %}
</ul>